<div class='row'>
  <div class='col-md-12'>
    <h2> Public Repos </h2>
    <div id="public_repos">
      <% if @public_repos.present? %>
        <% @public_repos.each do |repo| %>
          <h3> <%= repo[:name] %> </h3>
          <div>
            <dl>
              <dt>Repo Id</dt>
              <dd><%= repo[:id] %></dd>

              <dt>Full Name</dt>
              <dd><%= repo[:full_name] %></dd>

              <dt>Description</dt>
              <dd><%= repo[:description] %></dd>
            </dl>
            <hr/>
            <p> Gragh </p>
            <div>
              <%= label_tag :start_date %>
              <%= text_field_tag :start_date %>
              <%= label_tag :end_date %>
              <%= text_field_tag :end_date %>
              <%= button_tag :show_graph, class: 'show_graph', data: { repo: repo[:name] } %>
            </div>
            <div id=<%= "repo#{repo[:name]}"%>>
            </div>
          </div>
        <% end %>
      <% else %>
        <div>
          <p> No Public repos...</p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-12">
    <h2> Private Repos </h2>
    <div id="private_repos">
      <% if @private_repos.present? %>
        <% @private_repos.each do |repo| %>
          <h3><%= repo[:name] %></h3>
          <div>
            <dl>
              <dt>Repo Id</dt>
              <dd><%= repo[:id] %></dd>

              <dt>Full Name</dt>
              <dd><%= repo[:full_name] %></dd>

              <dt>Description</dt>
              <dd><%= repo[:description] %></dd>

              <%#= render 'commits', commits: repo[:commits] %>

            </dl>
          </div>
        <% end %>
      <% else %>
        <div>
          <p> No Private repos...</p>
        </div>
      <% end %>
    </div>
  </div>

</div>